@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #f8f8ff;
    --sidebar-color: #f0f8ff;
    --primary-color: #766c92;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --shadow-color: #707070;
    --nb-color: #8878a133;
    --soft-b: #403a56;
    --base-cyan: #20bec6;
    --t-cyan: #20bec67a;
    --shadow-color: #5a6f71a7;
    --black-en: #383439;




    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
.catalogues {
    display:flex;
    /* justify-content: space-between; */
    /* padding-left: 5rem; */
    background-color: var(--nb-color);
    border: 3px solid rgba(38, 6, 46, 0.183);
    border-radius: 10px;
    /* width: 76.5rem; */
    padding-bottom: 1.7rem;
    max-width: 60rem; /* Set a maximum width */
    margin: 2rem 2rem 2rem 11rem; /* Center the container */
    
    
}

.container{
    padding-left: 2.5rem;
}
.slider-wrapper {
    flex: 1;
    /* margin-right: 20px; */
}
.slider {
    
    margin-left: 0rem;
    display: flex;
    overflow: hidden;
    position: relative;
    
    flex-direction: column; /* Change flex-direction to column */
}

.slider img {
    width: 40rem;
    height: 40rem;
    /* marf-left: 1rem; */
    
    transition: --tran-03;
    padding-left: 0rem;
    /* max-width: 40rem; */
    display: none; /* Hide all slides by default */
}

.slider img.active {
    display: block; /* Show only the active slide */
    width: 25rem;
    height: 25rem;
    transition: --tran-03;
    padding-left: 0rem;
}

.container-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 35rem;
}

/* Add styles for slider navigation */
.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-text {
    flex: 1;
    display: flex;
    padding-top: 1.6rem;
    padding-left: 0rem;
    flex-direction: column;
}
.dropdown {
    
    width: 30rem;
    border-top: 3px solid #707070;
    /* border-bottom: 2px solid #707070; */
    /* margin-bottom: 10px; */
}
.dropdown-content {
    display: none;
    padding: 10px;
    /* border: 2px solid #000000; */
    border-radius: 5px;
    background-color: var(--nb-color);
    font-weight: 500;
    transition: --tran-03;
    /* transition: opacity 0.3s ease, height 0.3s ease; */
}
.dropdown-content.show {
    display:inline-block;
    padding-left: 0rem;
    height: 13.8rem;
    
    transition: --tran-03;
}

.dropdown-content.show p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:justify; 
    padding-left: 1rem;
    display: flex;
    justify-content: center;
}
.dropdown button {
    width: 100%;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    background-color: var(--t-cyan);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.dropdown.dark{
    background-color: var(--soft-b);
}
