@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.catalogues {
    display:flex;
    background-color: var(--main-color);
    border: 3px solid rgba(38, 6, 46, 0.183);
    border-radius: 10px;
    padding-bottom: 1.7rem;
    max-width: 60rem; /* Set a maximum width */
    margin: 2rem 2rem 2rem 11rem; /* Center the container */
    
    
}

.container{
    padding-left: 2.5rem;
}
.slider-wrapper {
    flex: 1;
    /* margin-right: 20px; */
}
.slider {
    
    margin-left: 0rem;
    display: flex;
    overflow: hidden;
    position: relative;
    
    flex-direction: column; /* Change flex-direction to column */
}

.slider img {
    width: 40rem;
    height: 40rem;
    padding-left: 0rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    /* display: block; */
}

.slider img.active {
    display: block;
    width: 25rem;
    height: 25rem;
    opacity: 1;
    padding-left: 0rem;
}

.container-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 35rem;
}

/* Add styles for slider navigation */
.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-text {
    flex: 1;
    display: flex;
    padding-top: 1.6rem;
    padding-left: 0rem;
    flex-direction: column;
}
.dropdown {
    
    width: 30rem;
    color: var(--dark-text);
    
}
.dropdown-content {
    display: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--nb-color);
    font-weight: 500;
    transition: --tran-03;
}
.dropdown-content.show {
    display:inline-block;
    padding-left: 0rem;
    height: 14.4rem;
    transition: --tran-03;
}

.dropdown-content.show p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:justify; 
    padding-left: 1rem;
    display: flex;
    justify-content: center;
}
.dropdown button {
    width: 100%;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    background-color: var(--secondary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    color: var(--main-color);
}
.dropdown.dark{
    background-color: var(--nb-color);
}
