/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #c3bacf;
    /* --body-color: #f8f8ff; */
    --sidebar-color: #f0f8ff;
    --primary-color: #766c92;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --shadow-color: #707070;
    --nb-color: #f8f8ff;
    /* --nb-color: #8878a133; */
    --soft-b: #403a56;
    --base-cyan: #20bec6;
    --t-cyan: #20bec67a;
    --shadow-color: #5a6f71a7;



    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
.customization {
    display: flex;
    justify-content: center ;
    /* justify-content: start; */
    padding: 20px;
    height: 32rem;
    width: 55rem;
    margin: 2rem 2rem 2rem 14.5rem;
    background-color: var(--nb-color);
    border: 3px solid rgba(38, 6, 46, 0.183);
    border-radius: 10px;
}

.image-group {
    display: flex;
    height: 30rem;
    width: 27rem;
    
}

.cust-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.slider {
    /* padding-top: 0rem; */
    /* margin-top: 0rem; */
    display: flex;
    align-items: center;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    position: relative;

}

.slider img {
    width: 15rem;
    height: 23rem;
    padding-left: 0rem;
    display: none;
}

.slider img.active {
    display: block;
    width: 15rem;
    height: 23rem;
    padding-left: 0rem;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    max-width: 15rem;
    
    /* align */
}

.slider-buttons button {
    position: relative;
    padding: 1.2em 1.2em;
    margin: 0.5rem 1rem;
    /* border: 1px solid var(--primary-color); */
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
}
#white-b{
    background-color: #e3e3e3;
}
#black-b{
    background-color: #393939dc;
}
#navy-b{
    background-color: #36367b;
}
/* .slider-buttons button  */
#olive-b{
    background-color: #7b7b3afe;
}

.slider-buttons button:hover {
    /* background-color: var(--primary-color); */
    border: 3rem solid --primary-color;
    /* overflow: hidden; */
    /* color: #fff; */
}
.slider-buttons button.active {
    background-color: var(--nb-color);
    border: 0.5rem solid --primary-color;
}
.cloth-size {
    display: flex;
    flex-direction: column;
    padding-top: 1.4rem;
    align-content: start;
    /* justify-content: space-around; */
    margin-right: 0.5rem;
    padding-right: 1rem;
}

.cloth-size button {
    width: 1rem;
    height: 1rem;
    padding: 15px 15px;
    margin-bottom: 1.65rem;
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.cloth-size button:hover, .cloth-size button.active {
    background-color: var(--primary-color);
    color: #fff;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-top: 10px;
    align-items: end;
    /* position: absolute;
     */
     position: relative;
}

.quantity-selector button {
    padding: 5px 10px;
    /* width: 1rem;
    height: 1rem; */
    align-items: center;
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-selector button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.quantity-selector span {
    padding: 0 10px;
    font-size: 1.2em;
}

.upload-section {
    display: flex;
    
    padding-top: 1.4rem;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 20rem;
}

.upload-btn {
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.dropdown-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.dropdown {
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    width: 16rem;
}
/* .add-to-cart{
    display: flex;
    justify-content: end;
    align-items: end;
} */
.add-to-cart-btn {
    background-color: var(--base-cyan);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
    /* display: flex; */
    transition: background-color 0.3s ease;
}
/* .add-to-cart i{
    font-weight: 1000;
} */

.add-to-cart-btn:hover {
    background-color: var(--t-cyan);
    color: #fff;
}

.custom-group {
    display: flex;
    flex-direction: column;
    justify-content: start  ;
    align-items: start;
    /* margin-left: 0rem; */
    width: 20rem;
}