/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#hero{
    background-image: url("../images/emon-enchanced2.png");
    
    filter: drop-shadow(3px 3px 3px var(--shadow-color));
    height: 120vh;
    width: 100%;
    background-size: cover;
    padding: 0 20rem 0 15rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:  flex-start;
    justify-content: flex-start;
    z-index: 10;
}

h5, h4, p{
    color: var(--dark-text);
}
#hero h1{
    color: #20bec6;
    font-size: 55px;
    padding-top: 9.1rem;
    padding-bottom: 4rem;
    /* filter: drop-shadow(0px 0px 0px var(--light-text)); */
} 

/* #hero.dark h1{
    color: var(--primary-color);
} */
#hero h2{
    color: var(--stay-dark);
    font-size: 40px;
    /* padding-top: 2rem; */
}
#hero p{
    color: var(--stay-dark);
    font-weight: 600;
}


#hero button {
    background-image: url("../images/cyanSR.png");
    background-color: transparent;
    border: 0;
    padding: 15px 20px 15px 20px;
}

#hero button .nav-text{
    color: ghostwhite;
    font-weight: 700;
}
#hero button .nav-text:hover{
    color:  var(--toggle-color);
}
#q-nav button {
    background-image: url("../images/cbrush.png");
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    width: 140px; /* Set fixed width */
    height: 40px; /* Set fixed height */
    margin: 0 10px; /* Add margin to create space between buttons */
    
    padding: 15px 20px 30px 20px;
    z-index: 1;
}

#q-nav button .nav-text{
    color: var(--light-text);
    font-weight: 700;
}

#q-nav .nav-text:hover {
    color: var(--toggle-color); /* Change color to cyan on hover */
}
a {
    text-decoration: none;
}



#q-nav {
    height: 10%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: end;
    align-content: space-around;
    background-color: var(--nb-color);
    border-bottom: px solid var(--shadow-color);
    padding-right: 20px;    
    z-index: 99;
}

.text h2{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 100%;
    justify-content: center;
    /* padding: 5rem 5rem 0 10rem; */
}
.text p{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* height: 80vh; */
    width: 100%;
    /* padding: 5rem 5rem 0 10rem; */
}

.company-profile {
    /* padding-top: 10rem; */
    display: flex;
    width: 70rem;
    height: 40rem;
    padding-left: 12rem;
}
.company-profile .illust {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
}
.company-profile .illust img{
    max-width: 100%;
    max-height: 100%;
}
.company-profile .text {
    
    padding-top: 8.7rem;
    /* margin-left : 2rem; */
    display: flex;
    flex-direction: column;
    background-color: --main-color;
    justify-content: start;
    align-items: center;
    width: 30rem;
}
.company-profile .text h2 {
    
    padding: 0 0 0 2rem;
    display: flex;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: var(--dark-text);
    align-items: center;
    justify-content: center;
}

.company-profile .text h2 span {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background-image: url('../images/sp.png'); /* Ganti dengan path gambar Anda */
    background-size: cover; /* Menyesuaikan ukuran gambar dengan ukuran elemen */
    background-clip: text; /* Memotong gambar hanya pada area teks */
    -webkit-background-clip: text; /* Untuk dukungan di browser berbasis WebKit */
    color: transparent; /* Membuat teks transparan untuk memperlihatkan gambar */
    display: inline-block; /* Menampilkan elemen inline-block */
}

.company-profile.dark .text.dark h2 span {
    background-image: url('../images/bcrush.png'); /* Alternative image for dark mode */
}
/* .company-profile .text h2 span.dark {
    background-image: url var('../images/bcrush.png'); /* Alternative image for dark mode */
/* }  */

.company-profile .text p{
    padding: 3rem 0 0 2rem;
    /* padding-left: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.company-profile .text h5{
    padding: 1.5rem 0 0 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#how-to-order {
    /* background-image: url("../images/basebg.png"); */
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /* padding-top: 10rem; */
    display: flex;
    width: 76.5rem;
    height: 55rem;
    padding: 1rem 5rem 0 12rem;
    flex-direction: column;
    color: var(--dark-text);
    /* align-content: center;
     */
     justify-content: center;
    /* background-image: url("../images/bgdb.png"); */
    /* background-color: ; */
}
#how-to-order h3{
    font-size: 30px;
}
#how-to-order .text{
    text-align: center;
}
#how-to-order p{
    padding: 0 2rem 0 2rem;
}

#how-to-order .ilustration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    
    height: 40rem;
    width: 100%;
    padding-top: 3rem;
}

/* .card1, .card2, .card3, .card4, .card5, .card6, .card7 { */
.card{    
    border: 2px solid var(--secondary-color);
    height: 17rem;
    width: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--nb-color); /* Default primary color if not set */
    color: var(--dark-text); /* Default text color if not set */
    font-family: Arial, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 1.2rem 2rem 1.2rem;
}

/* .card1 .card-il-1 img, .card2 .card-il-2 img, .card3 .card-il-3 img, .card4 .card-il-4 img, .card5 .card-il-5 img,
.card6 .card-il-6 img, .card7 .card-il-7 img{ */
.card .card-il img{
    padding: 1rem 1rem 0.5rem 1rem ;
    height: 8rem;
    /* overflow: hidden; */
    width: 12rem;
    border: 1px;
    object-fit: cover;
    /* border: 1px solid #000; */
}

.card .card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h5 {
    text-align: center;
}

.card .card-text p{
    text-align: center;
    /* text-size-adjust: 5px; */
    font-size: 14px;
}

.footer {
    background-color: var(--primary-color);
    display: flex;
    height: 22rem;
    width: 76.5rem;
    padding-left: 15rem;
    padding-right: 8rem;
    justify-content: space-between;
}

.footer .operation h3{
    padding: 2rem 0 1rem 0;
    font-size: larger;
    color: --stay-dark;
}
.footer .operation p{
    padding: 0.8rem 0 0 0;
    font-weight: 450;
    color: --stay-dark;
    tab-size: 40;
    max-width: 20rem;
    /* text-indent: 40px; */
}
.footer .operation i{
    padding-right: 1.5rem;
    font-size: 25px;
    
}
.tab-space {
    display: inline-block;
    width: 40px; /* Ubah nilai sesuai kebutuhan */
  }

.footer .contacts .icons{
    padding: 0 1rem 0 0;
}

.contacts {
    padding: 2rem 0 1rem 0;
    max-width: 25rem;
    
}
.contacts p{
    color: var(--stay-dark);
    padding-bottom: 1rem;
}