/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#hero{
    background-image: url("../images/emon-enchanced2.png");
    
    filter: drop-shadow(3px 3px 3px var(--shadow-color));
    height: 120vh;
    width: 100%;
    background-size: cover;
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:  flex-start;
    justify-content: flex-start;
    z-index: 10;
}

#hero h1{
    color: var(--primary-color);
    font-size: 55px;
    padding-top: 9.1rem;
    padding-bottom: 4rem;
    filter: drop-shadow(0px 0px 0px var(--light-text));
} 

#hero h2{
    color: var(--secondary-color);
    font-size: 40px;
    /* padding-top: 2rem; */
}
#hero p{
    color: var(--light-text);
}


#hero button {
    background-image: url("../images/cyanSR.png");
    background-color: transparent;
    border: 0;
    padding: 15px 20px 15px 20px;
}

#hero button .nav-text{
    color: ghostwhite;
    font-weight: 700;
}
#hero button .nav-text:hover{
    color:  var(--toggle-color);
}
#q-nav button {
    background-image: url("../images/cbrush.png");
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    width: 140px; /* Set fixed width */
    height: 40px; /* Set fixed height */
    margin: 0 10px; /* Add margin to create space between buttons */
    
    padding: 15px 20px 30px 20px;
    z-index: 1;
}

#q-nav button .nav-text{
    color: var(--light-text);
    font-weight: 700;
}

#q-nav .nav-text:hover {
    color: var(--toggle-color); /* Change color to cyan on hover */
}
a {
    text-decoration: none;
}



#q-nav {
    height: 10%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: end;
    align-content: space-around;
    background-color: var(--nb-color);
    border-bottom: px solid var(--shadow-color);
    padding-right: 20px;    
    z-index: 99;
}

.how-to-order{
    height: 100vh;
    width: 100%;
    background-color: --main-color;
    margin: 20rem;
}

.text h2{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 100%;
    justify-content: center;
    /* padding: 5rem 5rem 0 10rem; */
}
.text p{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* height: 80vh; */
    width: 100%;
    /* padding: 5rem 5rem 0 10rem; */
}

.company-profile {
    /* padding-top: 10rem; */
    display: flex;
    width: 70rem;
    height: 40rem;
    padding-left: 12rem;
}
.company-profile .illust {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
}
.company-profile .illust img{
    max-width: 100%;
    max-height: 100%;
}
.company-profile .text {
    
    padding-top: 8.7rem;
    /* margin-left : 2rem; */
    display: flex;
    flex-direction: column;
    background-color: --main-color;
    justify-content: start;
    align-items: center;
    width: 30rem;
}
.company-profile .text h2 {
    
    padding: 0 0 0 2rem;
    display: flex;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: var(--dark-text);
    align-items: center;
    justify-content: center;
}

.company-profile .text h2 span {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background-image: url('../images/sp.png'); /* Ganti dengan path gambar Anda */
    background-size: cover; /* Menyesuaikan ukuran gambar dengan ukuran elemen */
    background-clip: text; /* Memotong gambar hanya pada area teks */
    -webkit-background-clip: text; /* Untuk dukungan di browser berbasis WebKit */
    color: transparent; /* Membuat teks transparan untuk memperlihatkan gambar */
    display: inline-block; /* Menampilkan elemen inline-block */
}

.company-profile .text p{
    padding: 3rem 0 0 2rem;
    /* padding-left: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.company-profile .text h5{
    padding: 1.5rem 0 0 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}