/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #f8f8ff;
    --sidebar-color: #f0f8ff;
    --primary-color: #766c92;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --shadow-color: #707070;
    --nb-color: #8878a133;
    --soft-b: #403a56;
    --base-cyan: #20bec6;
    --t-cyan: #20bec67a;
    --shadow-color: #5a6f71a7;



    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

#hero{
    background-image: url("../images/emonrevisi.png");
    
    filter: drop-shadow(4px 4px 4px var(--shadow-color));
    
    /* position: relative; */
    height: 95vh;
    width: 100%;
    background-size: cover;
    padding: 0 320px;
    display: flex;
    /* display: absolute; */
    flex-direction: column;
    position: relative;
    align-items:  flex-start;
    justify-content: center;
    z-index: 10;
}
/* body.dark #hero{
    background-image: url("images/emonrevisi.png");
    filter: drop-shadow(7px 7px 7px var(#20bec6));
} */

#hero h1{
    color: var(--base-cyan);
    font-size: 55px;
    padding-bottom: 35px;
    /* text-shadow: 2px 2px 4px var(--shadow-color); */
}

/* body.dark #hero h1{
    color: #20bec6;
    font-size: 55px;
    padding-bottom: 35px;
} */

#hero h2{
    color: var(--soft-b);
    font-size: 40px;
    padding-top: 20px;
}
#hero p{
    color: ghostwhite;
}


#hero button {
    background-image: url("../images/cyanSR.png");
    background-color: transparent;
    border: 0;
    padding: 15px 20px 15px 20px;
}

#hero button .nav-text{
    color: ghostwhite;
    font-weight: 700;
}
#hero button .nav-text:hover{
    color:  var(--base-cyan);
    /* font-weight: 700; */
}
#q-nav button {
    background-image: url("../images/bcrush.png");
    background-color: transparent;
    border: 0;
    /* padding: 50px 50px 50px 50px; */
    display: flex;
    justify-content: center;
    width: 140px; /* Set fixed width */
    height: 40px; /* Set fixed height */
    margin: 0 10px; /* Add margin to create space between buttons */
    
    padding: 15px 20px 30px 20px;
    /* margin: 30px; */
    /* align-content: space-around; */
    z-index: 1;
}

#q-nav button .nav-text{
    color: var(--soft-b);
    font-weight: 700;
}

#q-nav .nav-text:hover {
    color: var(--toggle-color); /* Change color to cyan on hover */
}
a {
    text-decoration: none;
}



#q-nav {
    height: 10%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: end;
    align-content: space-around;
    background-color: var(--nb-color);
    border-bottom: px solid var(--shadow-color);
    padding-right: 20px;    
    z-index: 99;
}