*{
    --b-color: #d7d7d7;
    --text-color-2: #403a56;
}
.container {
    padding-left: 17rem;
    padding-top: 1.5rem;
}

.slider-wrapper {
    position:absolute;
    max-width: 20rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 1/1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: azure;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover{
    opacity: 1;
}


* {
    --b-color: #d7d7d7;
    --text-color-2: #403a56;
}

.container-text {
    border: 2px solid var(--b-color);
    margin-left: 40rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;
    width: 30rem;
    background-color: #24cbd3;
}

.container-text ul {
    padding-left: 0;
}

.container-text li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.container-text h4 {
    color: var(--text-color-2);
    border-top: 2px solid var(--b-color);
    border-bottom: 2px solid var(--b-color);
    padding-left: 2rem;
    cursor: pointer;
}

.dropdown-explanation {
    position: static;
    display: none;
    color: var(--text-color-2);
    margin-left: -37rem;
    margin-top: 0.5rem;
}

.dropdown-explanation.expanded {
    display: block;
}
